# Bluetooth MAC-adres van de ToGrill AT-02
TOGRILL_ADDRESS=AA:BB:CC:DD:EE:FF

# Webserver instellingen
SMARTGRILL_HOST=0.0.0.0
SMARTGRILL_PORT=8000

# Aantal seconden wachten voordat opnieuw verbinding wordt gemaakt
RECONNECT_DELAY=10

# Na hoeveel seconden data als "stale" wordt beschouwd
STALE_AFTER=15

#Nodig voor de apple web push
VAPID_SUBJECT=https://example.com
